// Navigation code here


    .navigation {
        .flex();
        align-items: center;
        padding-bottom: 10px;
        background-color: @nav-bg;
        border: 1px solid @nav-border;
        
        @media @phone {
            width: 160vw;
        }

        h1 {
            font-size: 4.5rem;
            padding-bottom: 10px;

        }
        
        a {
            text-decoration: none;
            color: @nav-font;
            margin-left: 38px;
            font-size: 1.5rem;
             
           

            
        }
    }
